// COLORS
// ORIGINAL
$color-primary: #d8be63;
$color-primary-light: #eed990;
$color-primary-dark: #e5bd2b;

$color-ice-gold: #fafad2;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// OPTION B
$color-primary: #c7d36f;
$color-primary-dark: #9eb23b;
$color-background: #fcf9c6;
$color-tertiary: #e0deca;

// OPTION C
// $color-primary: #f7f39a;
// $color-primary-dark: #a3de83;
// $color-background: #38817a;
// $color-tertiary: #346473;

// OPTION D
// $color-primary: #f6f578;
// $color-primary-dark: #f6d743;
// $color-background: #649d66;
// $color-tertiary: #06623b;

// OPTION E
// $color-primary: #ffef82;
// $color-primary-dark: #efd345;
// $color-background: #babd42;
// $color-tertiary: #82954b;

///////////////////
// $color-primary: #ecd686;
// $color-primary: #d8be63;
$color-primary-light: #eed990;
// $color-primary-dark: #e5bd2b;

$color-ice-gold: #fafa9d;

$color-secondary-dark: #ff7730;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT

$default-font-size: 1.8rem;
$font-default: 'Montserrat', sans-serif;
$font-special: 'Alex Brush', cursive;
$font-alt: 'Inter', sans-serif;
$text-shadow: $color-grey-dark-3 1px 1px;

//STYLING

$content-padding: 5rem 0;
