// COLORS

$color-primary: #d8be63;
$color-primary-light: #eed990;
$color-primary-dark: #e5bd2b;

$color-ice-gold: #fafad2;

// $color-secondary-light: #ffb900;
// $color-secondary-dark: #ff7730;

// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT

$default-font-size: 1.8rem;
$font-default: 'Montserrat', sans-serif;
$font-special: 'Alex Brush', cursive;
$text-shadow: $color-grey-dark-2 2px 2px;

//STYLING

$content-padding: 5rem 0;
