// COLORS
// TEST
$color-primary: #ebd671;
$color-primary-dark: #ebd671;
$color-primary-darker: #649d66;
$color-secondary: #6fb2d2;
// $color-background: #80d783; // OPTION
$color-background: #eeeeee;

// ORIGINAL
// $color-primary: #d8be63;
// $color-primary-dark: #e5bd2b;
// $color-secondary: #eed990;
// $color-background: #80d783; // OPTION
// $color-background: #649d66;

// OPTION B
// $color-primary: #c7d36f;
// $color-primary-dark: #9eb23b;
// $color-background: #f7f39a; //OPTION
// $color-background: #e0deca;
// $color-background: #edf054; // OPTION
// $color-background: #fcf9c6; // OPTION
// $color-secondary: #e0deca;

// OPTION C
// $color-primary: #f7f39a;
// $color-primary-dark: #a3de83;
// $color-background: #38817a;
// $color-secondary: #346473;

// OPTION D
// $color-primary: #f6f578;
// $color-primary-dark: #f6d743;
// $color-background: #649d66;
// $color-secondary: #06623b;

// OPTION E
// $color-primary: #babd42;
// $color-primary-dark: #82954b;
// $color-background: #ffef82;
// $color-secondary: #efd345;

///////////////////

$color-secondary-dark: #ff7730;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: rgb(197, 196, 196); // OPTION
// $color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT

$default-font-size: 1.8rem;
$font-default: 'Montserrat', sans-serif;
$font-special: 'Alex Brush', cursive;
$font-alt: 'Inter', sans-serif;
$text-shadow: $color-grey-dark-3 1px 1px;

//STYLING

$content-margin: 2rem 0;
$content-padding: 3rem 0;
$content-padding-mobile: 1.2rem 0;
$content-border-radius: 10px;
