@use '../abstracts' as *;

.content {
	// scroll-snap-type: proximity;
	// scroll-padding: 30rem;
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 5rem 15rem 10rem 15rem;
	font-size: 1.6rem;

	@include respond(tab-land) {
		padding: 5rem 12rem 8rem 12rem;
	}

	@include respond(tab-port) {
		padding: 4rem 10rem 6rem 10rem;
	}

	@include respond(phone) {
		padding: 4rem 2rem;
	}

	&__heading {
		font-family: $font-default;
		color: $color-primary-dark;
		text-shadow: $text-shadow;
		font-size: 6rem;
		font-weight: 700;

		@include respond(tab-land) {
			font-size: 6rem;
		}

		@include respond(phone) {
			font-size: 4rem;
		}
	}

	&__health {
		// scroll-snap-align: start;
		display: flex;
		padding: $content-padding;
		flex-direction: row;

		@include respond(phone) {
			padding: $content-padding-mobile;
		}
	}

	&__healthy {
		color: $color-primary-dark;
		text-shadow: $text-shadow;
	}

	&__coaching {
		// scroll-snap-align: start;
		background-color: $color-background;
		padding: $content-padding;
		border-radius: 15px;

		&--list {
			margin-top: 3rem;
			padding-left: 3rem;
		}

		&--list li {
			padding: 0.5rem 0;
		}

		@include respond(phone) {
			padding: $content-padding-mobile;
		}
	}

	&__about {
		// scroll-snap-align: start;
		padding: $content-padding;

		@include respond(phone) {
			padding: $content-padding-mobile;
		}
	}

	&__faq {
		// scroll-snap-align: start;
		background-color: $color-background;
		padding: $content-padding;
		border-radius: 15px;

		@include respond(phone) {
			padding: $content-padding-mobile;
		}
	}

	&__contact {
		// scroll-snap-align: start;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: $content-padding;

		&--heading {
			width: 100%;
			// text-align: center;
			padding-bottom: 2rem;
		}

		@include respond(phone) {
			padding: $content-padding-mobile;
		}
	}
}

button {
	font-size: 1.5rem;
	background-color: $color-primary-dark;
	border: 1px solid $color-grey-dark-2;
	border-radius: 5px;
	padding: 0.5rem 2rem;
	cursor: pointer;
}

button:hover,
button:focus {
	background-color: $color-primary-dark;
	border: 1px solid $color-grey-dark-3;
}

.content p {
	padding: 1rem 0;
}

.text-block {
	padding: 2rem 20rem;

	@include respond(tab-land) {
		padding: 2rem 15rem;
	}

	@include respond(tab-port) {
		padding: 2rem 10rem;
	}

	@include respond(phone) {
		padding: 2rem 4rem;
	}
}

.appear {
	animation: appear 3s ease-out 1s;
	animation-fill-mode: forwards;
}

.quote {
	padding: 1rem;
	margin: 1rem 2rem;
	background-color: $color-grey-dark-2;
	border-radius: 5px;
	// width: max-content;
}

h3 {
	padding-left: 4rem;
}

h4 {
	padding-top: 2rem;
}
