@use '../abstracts' as *;

.content {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 5rem 15rem 10rem 15rem;
	font-size: 1.7rem;

	&__heading {
		font-family: $font-special;
		color: $color-primary-dark;
		text-shadow: $text-shadow;
		font-size: 8rem;
		font-weight: 700;
	}

	&__health {
		display: flex;
		flex-direction: row;
	}

	&__healthy {
		color: $color-primary;
		text-shadow: $text-shadow;
	}

	&__coaching {
		background-color: $color-background;
		padding: $content-padding;
		border-radius: 15px;
	}

	&__about {
		padding: $content-padding;
	}

	&__faq {
		background-color: $color-background;
		padding: $content-padding;
		border-radius: 15px;
	}

	&__contact {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: $content-padding;

		&--heading {
			width: 100%;
			// text-align: center;
			padding-bottom: 2rem;
		}
	}
}

button {
	font-size: 1.5rem;
	background-color: $color-primary;
	border: 1px solid $color-grey-dark-2;
	border-radius: 5px;
	padding: 0.5rem 2rem;
	cursor: pointer;
}

button:hover,
button:focus {
	background-color: $color-primary-dark;
	border: 1px solid $color-grey-dark-3;
}

.content p {
	padding: 1rem 0;
}

.text-block {
	padding: 2rem 20rem;
}

.appear {
	animation: appear 3s ease-out 1s;
	animation-fill-mode: forwards;
}

.quote {
	padding: 1rem;
	margin: 1rem 2rem;
	background-color: $color-tertiary;
	border-radius: 5px;
	width: max-content;
}

h3 {
	padding-left: 4rem;
}

h4 {
	padding-top: 2rem;
}
