@use '../abstracts' as *;

.content {
	position: relative;
	display: flex;
	flex-direction: column;
	// padding: 12rem 0 10rem 0;
	font-size: 1.8rem;
	// width: 100%;

	&__health {
		display: flex;
		flex-direction: row;
		padding: 5rem;
		// align-content: flex-end;
		// margin-left: auto;

		// &--image {
		// 	width: 50%;
		// 	border-radius: 10px;
		// 	padding: 10rem;
		// }
	}

	&__coaching {
		background-color: #d8be63;
		margin: 5rem 0;
		padding: 5rem;
	}

	&__about {
		margin: 5rem 0;
		padding: 5rem;
	}

	&__faq {
		background-color: #d8be63;
		margin: 5rem 0;
		padding: 5rem;
	}

	&__contact {
		// margin: 5rem 0;
		padding: 5rem;
		display: flex;
		justify-content: center;
		width: 80vw;
		// align-items: center;

		// position: relative;
		// padding: 12rem 0;
		// max-width: 120rem;

		// &--heading {
		// 	width: 100%;
		// 	text-align: center;
		// }

		// 	&--details {
		// 		font-size: 1.5rem;
		// 		padding: 3rem 0 0 0;
		// 		width: 100%;
		// 		display: flex;
		// 		flex-direction: column;
		// 		text-align: center;
		// 	}
		// 	&--item {
		// 		line-height: 1.6;
		// 	}
	}
}

input,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: none;
}

label {
	display: inline-block;
}

button {
	background-color: $color-primary;
	border: 1px solid $color-grey-dark-2;
	border-radius: 5px;
	padding: 0.5rem 2rem;
	cursor: pointer;
}

button:hover,
button:focus {
	background-color: $color-primary-dark;
	border: 1px solid $color-grey-dark-3;
}

.content p {
	padding: 1rem 0;
}

.text-block {
	// display: flex;
	// flex-direction: column;
	padding: 2rem 2rem 2rem 5rem;
}

.appear {
	animation: appear 3s ease-out 1s;
	animation-fill-mode: forwards;
}

.quote {
	padding: 1rem;
	margin: 1rem 2rem;
	background-color: lightgray;
	border-radius: 5px;
	width: max-content;
}

h4 {
	padding-top: 2rem;
}
