@use '../abstracts' as *;

.intro {
	position: relative;

	&__view {
		color: $color-primary-dark;
		background-image: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 0.3),
				rgba(0, 0, 0, 0.3)
			),
			url('../assets/hero-desktop-sml-2.jpg');
		background-position: center;
		background-size: cover;
		box-shadow: 0 12px 12px hsla(0deg, 0%, 0%, 0.35);
		overflow: hidden;
		height: 100vh;
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		// align-items: center;

		@include respond(big-desktop) {
			background-image: linear-gradient(
					to bottom,
					rgba(0, 0, 0, 0.3),
					rgba(0, 0, 0, 0.3)
				),
				url('../assets/hero-desktop-lrg.jpg');
			background-position: center;
			background-size: cover;
		}

		@include respond(tab-port) {
			background-image: linear-gradient(
					to bottom,
					rgba(0, 0, 0, 0.3),
					rgba(0, 0, 0, 0.3)
				),
				url('../assets/hero-mobile-sml.jpg');
			background-position: center;
			background-size: cover;
		}

		// @include respond(phone) {
		// 	width: 100vw;
		// }
	}

	&__scroll {
		position: absolute;
		bottom: 5rem;
		right: 3rem;
		opacity: 0;
		transition: all ease-out 1s;

		// @include respond(phone) {
		// 	display: none;
		// }

		&--label {
			width: 5rem;
			height: 5rem;
			margin-left: 1rem;
		}
	}

	&__scroll svg {
		transition: all ease-out 1s;
		fill: $color-primary-dark;
	}

	&__stmnt {
		font-size: 5rem;
		font-weight: 500;
		transform: translate(0, 23rem);
		padding: 0 5rem;
		word-wrap: break-word;
		// color: $color-primary-dark;

		@include respond(tab-land) {
			font-size: 4rem;
			// transform: translate(-15rem, 25rem);
		}

		@include respond(tab-port) {
			font-size: 3.5rem;
			// transform: translate(-9rem, 25rem);
		}

		@include respond(phone) {
			font-size: 3rem;
			// transform: translate(0, 20rem);
		}
	}

	&__question {
		font-size: 5rem;
		font-weight: 500;
		transform: translate(0, 23rem);
		padding: 0 5rem;
		word-wrap: break-word;

		@include respond(tab-land) {
			font-size: 4rem;
		}

		@include respond(tab-port) {
			font-size: 3.5rem;
			// transform: translate(5rem, 23rem);
		}

		@include respond(phone) {
			font-size: 3rem;
			// transform: translate(0, 20rem);
		}
	}
}

.shift {
	// transform: translateX(10rem);
	display: none;
}
