@use '../abstracts' as *;

.intro {
	position: relative;

	&__view {
		color: $color-primary;
		background-image: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 0.3),
				rgba(0, 0, 0, 0.3)
			),
			url('../assets/woman_on_grass.jpg');
		background-position: right 0 top -15rem;
		background-size: cover;
		box-shadow: 0 12px 12px hsla(0deg, 0%, 0%, 0.35);
		overflow: hidden;
		height: 100vh;
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
	}

	&__scroll {
		position: absolute;
		bottom: 5rem;
		right: 3rem;
		// display: flex;
		// flex-direction: row;
		// font-size: 1.75rem;
		// font-weight: 400;
		opacity: 0;
		transition: all ease-out 1s;

		// @include respond(phone) {
		// 	display: none;
		// }

		// &--text,
		// &--label {
		// 	display: inline-block;
		// 	vertical-align: middle;
		// }

		&--label {
			width: 5rem;
			height: 5rem;
			margin-left: 1rem;
		}
	}

	&__scroll svg {
		transition: all ease-out 1s;
	}

	&__heading {
		display: flex;
		flex-direction: column;
		transform: translate(-45rem, -20rem);

		&--name {
			font-size: 10rem;
			font-family: $font-special;
			font-weight: 600;
			line-height: 1;
			color: $color-primary-dark;
		}

		&--name a:link,
		&--name a:visited {
			color: $color-primary-dark;
		}

		&--title {
			font-size: 4rem;
			font-family: $font-default;
			font-weight: 500;
			// transform: translate(-49rem, -20rem);
			// color: $color-primary-dark;
		}
	}

	&__stmnt {
		font-size: 5rem;
		font-weight: 500;
		transform: translate(-20rem, 20rem);
		// color: $color-primary-dark;
	}

	&__question {
		font-size: 5rem;
		font-weight: 500;
		transform: translate(15rem, 18rem);
		// color: $color-primary-dark;
	}
}

.fade {
	color: transparent;
	text-shadow: none;
}

.fade svg {
	opacity: 0;
}
