@use '../abstracts' as *;

footer {
	padding: 0 10rem;
	position: sticky;
	bottom: 0;
	left: 0;
}

.footer__logo {
	width: 100px;
	height: 100px;
}

.footer {
	&__content {
		font-size: 1.25rem;
		color: rgb(89, 88, 88);
		background-color: $color-background;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;

		// width: 100%;
		height: auto;
		// height: 70px;
		// justify-content: center;
		padding: 1.75rem 3rem;
	}
	&__details {
		font-size: 1.5rem;
		// padding: 3rem 0 0 0;
		width: 100%;
		// display: flex;
		// flex-direction: column;
		text-align: center;
		display: inline;
	}

	&__item {
		padding: 0 1rem;
	}

	a:link,
	a:visited {
		color: $color-black;
	}
}
