@use '../abstracts' as *;

footer {
	position: sticky;
	bottom: 0;
	left: 0;
	background-color: $color-background;
	padding: 0 15rem;

	@include respond(phone) {
		padding: 0 2rem;
	}
}

.footer__logo {
	width: 100px;
	height: 100px;

	@include respond(phone) {
		width: 60px;
		height: 60px;
	}
}

.footer {
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 1.25rem;
		color: rgb(89, 88, 88);
		background-color: $color-primary-darker;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		height: auto;
		padding: 1.75rem 3rem;
	}
	&__details {
		display: inline;
		width: 100%;
		font-size: 1.5rem;
		text-align: center;

		@include respond(phone) {
			display: flex;
			flex-direction: column;
		}
	}

	&__item {
		padding: 0 1rem;
	}

	a:link,
	a:visited {
		color: $color-black;
	}
}
