@use '../abstracts' as *;

.header {
	// Define CSS variables and adjust when minify class is added to change header display
	--primary-flex-direction: column;
	--header-padding: 3rem;
	--bg-colour: transparent;
	--name-font-size: 10rem;
	--title-font-size: 4rem;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100vw;
	height: auto;
	padding: var(--header-padding);
	background-color: var(--bg-colour);
	z-index: 100;
	transition: flex-direction 1s, padding 1s, background-color 1s;

	@include respond(phone) {
		flex-direction: column;
	}

	&__primary {
		display: flex;
		flex-direction: var(--primary-flex-direction);
		align-items: center;
		margin: 0 5rem;
	}

	&__name {
		font-family: $font-special;
		font-size: var(--name-font-size);
		font-weight: 600;
		line-height: 1;
		min-width: 100%;
		opacity: 1;
		color: $color-primary-dark;
		transition: font-size 1s;

		@include respond(tab-land) {
			--name-font-size: 8rem;
		}

		@include respond(phone) {
			--name-font-size: 5rem;
		}

		@include respond(sml-phone) {
			--name-font-size: 4rem;
		}
	}

	&__name a:link,
	&__name a:visited {
		color: $color-primary-dark;
	}

	&__title {
		font-family: $font-default;
		font-size: var(--title-font-size);
		font-weight: 500;
		text-align: center;
		min-width: 100%;
		opacity: 0;
		color: $color-primary-dark;
		transition: font-size 1s;

		@include respond(tab-land) {
			--title-font-size: 3.5rem;
		}

		@include respond(phone) {
			--title-font-size: 2.5rem;
		}

		@include respond(sml-phone) {
			--title-font-size: 2.25rem;
		}
	}
}

.minify {
	// --primary-flex-direction: row; // Not adjusting currently, might change later
	--header-padding: 1rem;
	--bg-colour: #649d66;
	--name-font-size: 5rem;
	--title-font-size: 1.8rem;
}
