@use '../abstracts' as *;

.header {
	background-image: url(../../assets/lotus-flower-MED.jpg);
	background-size: cover;
	background-position: top;
	position: relative;
	height: 100vh;
	width: 100vw;

	@include respond(tab-land) {
		background-image: url(../../assets/lotus-flower-SML.jpg);
	}

	@include respond(tab-port) {
		background-image: url(../../assets/lotus-flower-TAB-PORT.jpg);
	}

	@include respond(phone) {
		background-image: url(../../assets/lotus-flower-MBL.jpg);
	}

	&__logo-box {
		position: relative;
	}

	&__text-box {
		position: absolute;
		top: 5rem;
		right: 5rem;
		width: 50vw;
		opacity: 0.55;
		background-color: $color-grey-light-2;
		color: $color-black;
		padding: 1.5rem;
		border-radius: 5px;
		text-align: center;
		font-size: 2.5rem;

		@include respond(tab-land) {
			top: 4rem;
			right: 4rem;
		}

		@include respond(tab-port) {
			top: 3rem;
			right: 3rem;
			width: 90vw;
			margin-left: auto;
			margin-right: auto;
		}

		@include respond(phone) {
			opacity: 0.75;
			left: 0;
			right: 0;
			width: 90vw;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__construction {
		position: absolute;
		bottom: 5rem;
		right: 5rem;
		opacity: 0.55;
		background-color: $color-grey-light-2;
		color: $color-black;
		padding: 1rem;
		border-radius: 5px;
		text-align: center;

		@include respond(tab-land) {
			bottom: 4rem;
			right: 4rem;
		}

		@include respond(tab-port) {
			bottom: 3rem;
			right: 3rem;
		}

		@include respond(phone) {
			opacity: 0.75;
			bottom: 1.2rem;
			left: 0;
			right: 0;
			margin-left: 2rem;
			margin-right: 2rem;
		}
	}

	&__description {
		position: absolute;
		top: 40%;
		right: 5rem;
		width: 50vw;
		opacity: 0.55;
		background-color: $color-grey-light-2;
		color: $color-black;
		padding: 1rem;
		border-radius: 5px;
		text-align: center;

		@include respond(tab-land) {
			right: 4rem;
		}

		@include respond(tab-port) {
			right: 3rem;
		}

		@include respond(phone) {
			width: 90vw;
			top: 30%;
			opacity: 0.75;
			left: 0;
			right: 0;
			margin-left: 2rem;
			margin-right: 2rem;
		}
	}
}

.header-primary {
	display: flex;
	flex-direction: column;
}
