.intro {
	height: 105vw;
	width: 100vw;
	color: green;
	font-size: 3rem;
	text-align: center;
	line-height: 50vw;

	&__001 {
		background-color: #cf6a87;
	}
	&__002 {
		background-color: #f7d794;
	}
	&__003 {
		background-color: #f3a683;
	}
	&__004 {
		background-color: #f8a5c2;
	}
	&__005 {
		background-color: #63cdda;
	}
	&__006 {
		background-color: #e77f67;
	}
	&__007 {
		background-color: #778beb;
	}
}
