@use '../abstracts' as *;

.navigation {
	// Define CSS variables and adjust when minify class is added to change header/nav display
	--list-flex-direction: column;
	--nav-item-font-size: 2.5rem;

	background-color: transparent;

	&__list {
		display: flex;
		flex-direction: var(--list-flex-direction);
		transition: transform 2s ease-out, flex-direction 1s;
	}

	&__item {
		position: relative;
		color: $color-white;
		// color: $color-primary-dark;
		background-color: transparent;
		opacity: 0;
		padding: 0 2rem;
		font-size: var(--nav-item-font-size);
		font-weight: 500;
		text-align: right;
		transition: all 0.25s ease-out, font-size 1s;

		@include respond(tab-land) {
			--nav-item-font-size: 1.8rem;
		}

		@include respond(tab-port) {
			--nav-item-font-size: 1.8rem;
		}

		@include respond(phone) {
			text-align: center;
			padding: 0.8rem;
		}
	}

	&__item::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 3px;
		background-color: $color-white;
		// background-color: $color-primary-dark;
		transform: scaleY(0);
		transition: transform 0.3s, width 0.4s ease-out 0.2s;
	}

	&__item:hover::before,
	&__item:focus::before {
		transform: scaleY(1);
		width: 100%;
	}

	&__link:link,
	&__link:visited {
		color: $color-white;
		// color: $color-primary-dark;
		text-decoration: none;
		display: block;
		position: relative;
		z-index: 10;
		transition: color 0.1s 0.2s;
	}

	&__link:hover {
		color: $color-grey-dark;
	}
}

ul {
	list-style: none;
	padding: 0;
}

a:link {
	text-decoration: none;
}

.appear {
	animation: appear 3s ease-out 1s;
	animation-fill-mode: forwards;
}

.minify {
	--list-flex-direction: row;
	--nav-item-font-size: 2rem;
}
