@use '../abstracts' as *;

.navigation {
	// height: 10vh;

	&__nav {
		// background-color: #ffffff;
		background-color: $color-ice-gold;
	}

	&__list {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: baseline;
		color: lightgray;
		padding: 1.5rem 0 0.5rem 0;
		font-size: 1.8rem;
		transition: transform 2s ease-out;
	}

	&__item {
		opacity: 0;
	}

	// &__list:hover {
	// }
}

.navigation__list li:hover {
	transform: scale(1.05);
}

.navigation__list li:visited {
	color: black;
}

.navigation__list li:active {
	// transform: scale(1.05);
	border: 0.1px solid black;
}

ul {
	list-style: none;
}

a:link {
	color: black;
	text-decoration: none;
}

// a:hover {
// }

.appear {
	animation: appear 3s ease-out 1s;
	animation-fill-mode: forwards;
}
